.app__container{
    display: flex;
    flex:1;
    flex-direction: row;
    .app__wrapper-navigationdots{
        position: absolute;
    }

    .app__wrapper-socialmedia{
        position: absolute;
        left:0;
        bottom:0;
        margin-left:1rem;
    }

    .app__wrapper-navigationdots{
        right:0;
    }

    .app__wrapper{
        width:100%;
        display: flex;
    }
}

