#skills{
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  padding-bottom:9rem;
  background-color: white;

  .app__wrapper-socialmedia,.app__wrapper-navigationdots{
      position:absolute; 
  }

  .app__wrapper-socialmedia{
      @media screen and (max-width:750px){
          display:none;
      }
  }

  .app__wrapper-navigationdots{
      margin:1rem;
  }


  .copyright{
      font-family: var(--font-base);
      font-size: 0.8rem;
      position:absolute;
      bottom:0;
      right:0;
      margin: 0.5rem;
      margin-right:3rem;
      margin-bottom: 3rem;
  }
  
}

.app__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-base);
  font-size: 1.3rem;

  h1{
    margin-top: 4rem;
    margin-bottom: 4rem;

    @media screen and (max-width:450px){
      font-size:2rem;
    }
  }
}

.app__skills-experiences{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 13rem;
  padding-right: 10rem;

  @media screen and (max-width:500px){
    padding-left:2.5rem;
    padding-right:2.5rem;
  }

  @media screen and (max-width:700px) and (min-width:500px){
    padding-left:5rem;
    padding-right: 5rem;
  }

  @media screen and (max-width:900px) and (min-width:700px){
    padding-left:10rem;
    padding-right:10rem;
  }

  @media screen and (max-width:900px){
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
  }
  
}

.app__skills{
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex:1;

  @media screen and (max-width:900px){
    justify-content: center;
    align-items: center;

  }
  
}

.app__skill{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:1rem;

  .app__skill-img{
    width:90px;
    height:90px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1.5rem;
    object-fit:cover;
    border-radius: 50%;
    margin-bottom:1rem;

    img{
      width:100%;
      height:100%;
    }
  }

  p{
    font-size: 0.8rem;
    color:var(--grey-color);
  }
}

.app__experiences{
  flex:1;
}



.app__experience{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 1rem;
}

.app__experience-year{
  padding:1rem;
  h4{
    color:var(--secondary-color);
    font-size: 1.1rem;
  }
}

.app__experience-details{
  padding:1rem;
  h4{
    font-size: 1.2rem;
    font-weight: 600;
  }

  p{
    font-size: 0.8rem;
    color:var(--grey-color);
    margin-top: 1rem;
  }
}