.app__navigationDots{
    flex-direction: column;

    @media screen and (max-width:750px){
        display: none;
    }
    a{
        width:10px;
        height: 10px;
        border-radius: 50%;
        margin-bottom: 1rem;
        border: 1px solid var(--light-grey);

        a:hover{
            background-color: var(--primary-color);
        }
    }

    
}