.app__socials{
    flex-direction: column;
    .social{
        margin-bottom: 1rem;
        width:40px;
        height:40px;
        border-radius: 50%;
        background-color: white;
        display:flex;
        justify-content: center;
        align-items: center;
        color:var(--grey-color);
        border:1px solid var(--grey-color);

        &:hover{
            background-color: var(--secondary-color);
            color:white;
            transition-duration: 0.5s;
            transition-behavior:ease-out;
        }
    }
}