*{
  font-family: var(--font-base);
}

.app__header{
  width:100%;
  display:flex;
  flex-direction: column;
  background-image: url(../../assets/bgWhite.png);
  background-size:cover;
  background-position: center;
  @media screen and (min-width:1440px){
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .header-images{
      width:40%;
    }
  }
}

.intro{
  text-transform: uppercase;
  color:var(--gray-color);
  display:flex;
  flex-direction: column;
  .intro1{
    h1{
      color:var(--secondary-color);
    }
    display: flex;
    justify-content: flex-start;
    display:inline;
    margin:1rem;
    padding: 1rem;
    border-radius: 15px;
    box-shadow:0px 0px 20px rgba(0,0,0,0.18); 

    .emoji{
      font-size: 2.5rem;
      margin-right:1rem;
    }
  }

  .intro2{
    display:inline;
    margin:1rem;
    padding:1rem;
    border-radius:15px;
    box-shadow:0px 0px 20px rgba(0,0,0,0.1);
    margin-top: 1rem;
  }
}

.header-images{
  .overlay_circle{
    position:absolute;
    width:100%;
  }
  img{
    width:100%;
    position:relative;
  }
}

.header-skills{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  img{
    border-radius:50%;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    margin:1rem;
  }
  div:nth-child(1){
    img{
      width:100px;
    height:100px;
    }
  }
  div:nth-child(2){
    img{
      width:150px;
    height:150px;
    }
    
  }
  div:nth-child(3){
    img{
      width:70px;
    height:70px;
    }
  }

  @media screen and (max-width:450px) {
    div:nth-child(1){
      img{
      width:70px;
      height:70px;
      }
    }
    div:nth-child(2){
      img{
        width:120px;
      height:120px;
      }
    }
    div:nth-child(3){
      img{
        width:70px;
      height:70px;
      }
    }
    
  }

  @media screen and (min-width:1440px) {
    display:flex;
    flex-direction: column;
    
  }

}
