.app__flex{
  display:flex;
}

.app__navbar{
  flex:1;
  background-color: var(--primary-color);
  padding:1.2rem;
}

.app__navbar-logo{
  width:60px;
  height:24px;

  img{
    width:100%;
    height:100%;
  }

}

.app__navbar-links{
  justify-content: center;
  align-items: center;
  flex:1;

  .app__navbar-link{
    padding:0 1rem 0 1rem;
    text-transform: uppercase;
    flex-direction: column;
    align-items: center;

    .bold-text{
      font:bolder;
    }

    a{
      font-family: var(--font-base);
      color:var(--grey-color);
      text-decoration: none;
      font-weight: 500;
      font-size: 0.8rem;

      &:hover{
        color:var(--secondary-color);
      }
    }

    &:hover{
      div{
          width:5px;
          height:5px;
          background-color:var(--secondary-color);
          border-radius: 50%;
      }
    
    }
    @media screen and (max-width:900px) {
      display:none;
    } 
  }
}

.app__navbar-menu{
  
  border-radius:50%;
  background-color: var(--secondary-color);
  color:white;
  justify-content: center;
  align-items: center;
  width:30px;
  height:30px;
  position:relative;

  .app__navbar-menu-toggle{
    top:0;
    right:0;
    bottom:0;
    position:fixed;
    width:80%;
    height:100%;
    justify-content: space-between;
    align-items: flex-start;
    background:url(../../assets/bgWhite.png);
    background-color:white;
    background-size: cover;
    background-repeat: repeat;
    padding-left:5rem;
    padding-top: 3rem;
    padding-right:5rem;
    svg{
      width:30px;
      height:30px;
      color:var(--secondary-color);
    }
  }
  .app__navbar-links-toggle{
    text-transform: uppercase;
    flex-direction: column;
    align-items: center;

    .bold-text{
      font:bolder;
    }

    a{
      font-family: var(--font-base);
      color:var(--grey-color);
      text-decoration: none;
      font-weight: 600;
      font-size:1.2rem;

      &:hover{
        color:var(--secondary-color);
      }
    }

    .app__navbar-link{
      padding:1rem;
    }
  }


  @media screen and (min-width:900px) {
    display:none;
  }
}

  




