#work{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    padding-bottom:9rem;
    background-color: var(--primary-color);

    .app__wrapper-socialmedia,.app__wrapper-navigationdots{
        position:absolute; 
    }

    .app__wrapper-socialmedia{
        @media screen and (max-width:650px){
            display:none;
        }
    }

    .app__wrapper-navigationdots{
        margin:1rem;
    }


    .copyright{
        font-family: var(--font-base);
        font-size: 0.8rem;
        position:absolute;
        bottom:0;
        right:0;
        margin: 0.5rem;
        margin-right:3rem;
        margin-bottom: 3rem;
    }
    
}

.app__work{
    width:100%;
    font-family: var(--font-base);
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app__work-head-text{
    font-size:2.8rem;
    margin:3.5rem;
    margin-bottom:4rem;
    text-align: center;
    span{
        color:var(--secondary-color);
    }

    @media screen and (max-width:450px){
        font-size:2rem;
    }
}

.app__work-tags{
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-bottom:2rem;

   

    .app__work-tag{
        font-weight: bold;
        padding:0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: white;
        margin-left:0.5rem;
        margin-right: 0.5rem;
        border-radius:10px;
        cursor: pointer;
        transition: all 0.5s ease;

        
    }
}


    .app__work-tag:hover{
         background-color: var(--secondary-color);
         color:white;
         transition: all 0.5s ease-in-out;
    }

.app__work-portfolio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.app__work-item{
    margin:2rem;
    padding:1rem;
   width:270px;
   flex-direction:column;
   background-color: white;
   border-radius:10px;
   position: relative;

   .app__work-item-img{
    height: 230px;
    position:relative;
    overflow: hidden;

    img{
        width:100%;
        height:100%;
        object-fit:cover;
        border-radius: 10px;
        }

    .app__work-img-hover{
        position:absolute;
        opacity:0;
        background-color: rgba(0,0,0,0.5);
        transition: all 0.5s ease;
        top:0;
        width:100%;
        height:100%;
        border-radius: 10px;

        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        .app__work-img-hover-icon{
            cursor: pointer;
        }

        a{
            width:50px;
            height:50px;
            background: rgba(0,0,0,0.6);
            border-radius: 50%;
            margin:1rem;
            display: flex;
            justify-content: center;
        align-items: center;


            svg{
                width:25px;
                height:25px;
                color:white;
            }
        }
    }

    
   }
}

.app__work-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4{
        font-size: 1rem;
        margin-top:2rem;
        margin-bottom: 1rem;
    }
    p{
        position:absolute;
        bottom:63px;
        left:97px;
        background-color: white;
        padding:0.6rem;
        font-size:0.8rem;
        color:var(--grey-color);
        border-radius: 10px;
    }
}

