#about{
    
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    background-color:white;
    padding-bottom:8rem;

    .app__wrapper-socialmedia,.app__wrapper-navigationdots{
        position:absolute; 
    }

    .app__wrapper-socialmedia{
        @media screen and (max-width:750px){
            display:none;
        }
    }

    .app__wrapper-navigationdots{
        margin:1rem;
    }


    .copyright{
        font-family: var(--font-base);
        font-size: 0.8rem;
        position:absolute;
        bottom:0;
        right:0;
        margin: 0.5rem;
        margin-right:3rem;
        margin-bottom: 3rem;

        @media screen and (max-width:450px){
            font-size:0.5rem;
            margin-right:2rem;
            margin-bottom:1.5rem;
        }
    }
    
}




.app__about-head-text{
    font-size:2.8rem;
    text-align: center;
    margin-top:3.5rem;
    margin-bottom:2rem;

    span{
        color:var(--secondary-color);
    }

    @media screen and (max-width:450px){
        font-size:2rem;
        margin:3.5rem;
    }
}

.app__about{
    width:100%;
    font-family: var(--font-base);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .app__about-all{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;

        .app__about-item{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width:190px;
            margin:2rem;

            .app__about-item-img{
                width:190px;
                height:170px;
            }
            img{
                width:100%;
                height:100%;
                object-fit: cover;
                border-radius: 10%;
            }

            h4{
                margin-top:1.5rem;

            }

            p{
                color:var(--grey-color);
                font-size: 0.8rem;
                font-weight: 450;
                margin-top:1rem;
            }
        }
    }
}